[Unit]
Description=Measurer service for environment-monitor
After=syslog.target localfs.target

StartLimitIntervalSec=5400
StartLimitBurst=6

[Service]
Type=simple
User=<USER>
Group=<USER>
WorkingDirectory=<PWD>
Environment="MEASUREMENTS_PATH=<PWD>/measurements"
ExecStart=<PWD>/venv/bin/python -u <PWD>/measurer.py
StandardOutput=journal
StandardError=journal

Restart=on-failure
RestartSec=900

[Install]
WantedBy=multi-user.target
